<h2>Are you sure you want to delete this answer?</h2>

 <p>Answer ID: <%=  "#{params['id']}" %></p>
 <p>Author ID: <%=  "#{@answer.user_id}" %></p>
 <p>Answer Title: <%=  "#{@answer.title}" %></p>
 <p>Answer Contents: <%=  "#{@answer.contents}" %></p>

<form action="/answers/<%= @answer.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>