<h2>Votes for a given answer</h2>

<table>
	<tr>
		<td>Vote ID</td>
		<td>Answer ID</td>
		<td>User ID</td>
		<td>Value</td>
		<td>Edit      |</td>
		<td>Delete    |</td>
	</tr>

	
		<% @votes.each do |v|  %>
		<tr>	
			<td>
				<%= "#{v.id}" %>
			</td>
			<td>
				<%= "#{v.answer_id}" %>
			</td>
			<td>
				<%= "#{v.user_id}" %>
			</td>
			<td>
				<%= "#{v.value}" %>
			</td>
			<td>
				<a href="votes/<%= "#{v.id}" %>/edit">Edit</a>
			</td>
			<td>
				<a href="votes/<%= "#{v.id}" %>/delete">Delete</a>
			</td>
		</tr>	
		<%end%>
	

</table>