<h2>Shows one question with the right question id</h2>



<!-- QUESTION CONTENTS -->
 <p>Question ID: <%=  "#{params['id']}" %></p>
 <p>Author ID: <%=  "#{@question.user_id}" %></p>
 <p>Question Title: <%=  "#{@question.title}" %></p>
 <div class="vote-block">
	Question voting info goes here
</div>
 <p>Question Content: <%=  "#{@question.content}" %></p>

<button class="btn btn-danger">Hi</button>
<button class="btn btn-danger">Hi</button>
<button class="btn btn-danger">Hi</button>


<%if logged_in?%>
	<form method="post" action="/questions/<%= @question.id%>">
		<input type=submit value="Answer this question">
	</form>

	<%if current_user.id == @question.user_id%>
		<div>
			<a href="<%="#{params['id']}"%>/edit">Edit</a>
			<a href="<%="#{params['id']}"%>/delete">Delete</a>
		</div>
	<%end%>	
<%end%>


<h3><%="#{@answers.length}"%> answers</h3>

<!-- GENERATE ANSWER DISPLAY HERE -->
<%@answers.each do |ans|%>
	<% id = ans.id%>
	<% link_id = "/answers/#{ans.question_id}/view/"+id.to_s%>

	<div class="comment-block">
		<div class="author-info">
			<!-- icon -->
			<div class="avatar-container">
				<img src="/assets/avatar.png" class="avatar">
			</div>

			<div class="space-down">
				<p>Author: <%="#{ans.user.email}" %></p>

				<div class="space-across">
					<p>Commented on: <%= "#{ans.created_at}" %></p>
					<p>Updated at: <%= "#{ans.updated_at}" %><p>
				</div>

				<div class="vote-block space-across">
					<a href="/answer/<%="#{ans.user_id}" %>/votes">View votes</a>
					<div class="vote-container">
						<form method="post" action="/votes/new" id="upvote-form">
							<input type="hidden" value=<%=ans.id%> 				name="vote[answer_id]" />
							<input type="hidden" value=<%= current_user.id %> 	name="vote[user_id]" />
							<input type="hidden" value="Up" 					name="vote[value]" />
		<!-- 					<button type="submit"><i class="fas fa-chevron-circle-up"></i></button> -->
							<input type="submit" value="Up" class="btn button-up" />

						</form>						
						<form method="post" action="/votes/new" id="downvote-form">
							<input type="hidden" value=<%=ans.id%> 	name="vote[answer_id]" />
							<input type="hidden" value=<%= current_user.id %> 	name="vote[user_id]" />
							<input type="hidden" value="Down" 					name="vote[value]" />
							<input type="submit" value="Down" class="btn button-down" />
						</form>
					</div>
				</div>
			</div>	

		

		</div>

		<div>
			<p><a href=<%=link_id%>> <%= "#{ans.title}" %></a></p>
			<p><%= "#{ans.contents}" %></p>

		</div>



	</div>

<%end%>




<!-- USER NAVIGATION -->

<%if logged_in?%>
	<br>
	<br>
	<br>
	<div>
		<a href="../sessions/success">Take me back to user landing</a>
		<a href="../questions/new">Ask another question</a>
		<a href="/answers/<%="#{params['id']}"%>">See answers to this question (details)</a>
	</div>
<%end%>

<div>
	<ul>
		<li><a href="/questions">Back to all questions</a></li>
	</ul>
	
</div>
