<h2>Shows one question with the right question id</h2>

 <p>Question ID: <%=  "#{params['id']}" %></p>
 <p>Author ID: <%=  "#{@question.user_id}" %></p>
 <p>Question Title: <%=  "#{@question.title}" %></p>
 <p>Question Content: <%=  "#{@question.content}" %></p>

<%if current_user.id == @question.user_id%>
	<div>
		<a href="<%="#{params['id']}"%>/edit">Edit</a>
		<a href="<%="#{params['id']}"%>/delete">Delete</a>
	</div>
<%end%>

<%if logged_in?%>
	<div>
		<a href="../sessions/success">Take me back to user landing</a>
		<a href="../questions/new">Ask another question</a>
		<a href="answers/<%="#{params['id']}"%>">See answers to this question</a>
	</div>

	<form method="post" action="/questions/<%= @question.id%>">
		<input type=submit value="Answer this question">
	</form>

<%end%>

<div>
	<ul>
		<li><a href="/questions">Back to all questions</a></li>
	</ul>
	
</div>
